layout {

    focus-ring {
        active-color   "#c0c8cb"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#c0c8cb"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#c0c8cb"
        inactive-color "#2d3538"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#c0c8cb80"
    }
}

recent-windows {
    highlight {
        active-color "#c0c8cb"
        urgent-color "#ffb4ab"
    }
}
