layout {

    focus-ring {
        active-color   "#c8c7bc"
        inactive-color "#141313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#c8c7bc"
        inactive-color "#141313"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#c8c7bc"
        inactive-color "#919187"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#c8c7bc80"
    }
}

recent-windows {
    highlight {
        active-color "#c8c7bc"
        urgent-color "#ffb4ab"
    }
}
