themes {
  noctalia {
    fg "#f2f3f3"
    bg "#1b1f23"
    black "#242a2e"
    red "#fd4663"
    green "#67c5e4"
    yellow "#6a86da"
    blue "#8e76d5"
    magenta "#93d6ec"
    cyan "#96abe9"
    white "#f2f3f3"
    orange "#fd8446"
  }
}
